@model DAL.Utilisateur

@{
    ViewBag.Title = "Form";
}

<div class="panel-default">
    <div class="panel-heading">Connectez-vous</div>
    <div class="panel-body">
        <form method="post" action="/Login/Form">
            Login : 
        </form>
    </div>
</div>
<h2>Verification</h2>

